.paginationWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrowWrapper{
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 15px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.doubleArrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.arrowWrapper:hover{
    background-color: rgb(132, 145, 218);
    cursor: pointer;
}
